{% if section.settings["show-annoucement"] %}
    <section>
        this is the Annoucement Bar
    </section>
    {% endif %}




{% schema %}

{
"name" : "annoucement-bar",
"settings" : [
    {
    "type" : "checkbox",
    "id": "show-annoucement",
    "label": "Show Annoucement Bar ",
    "default" : true
    }
],
"presets": [

]

}

{% endschema %}